.slide__container {

  width: 80%;
  height: 5rem;
  background-color: $color-grey-dark-3;
  color: $color-light-grey-1;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin: 7rem 0;
  border-radius: 5px;



  h3 {

    font-size: 4rem;
    text-transform: uppercase;
    animation: marquee 10s linear infinite;
    padding-left: 100%;
    //display: inline-block;
    font-weight: 800;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
  }

}

@keyframes marquee {
  100% {
    transform: translate(-100%, 0);
  }
}