.slides__container {
    height: 100vh;
    background-color: rgba($color-white, 0.6);
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}