.header {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: $color-black;
    overflow: hidden;
  
  
  
    &__left {
  
      width: 50%;
      position: relative;
      transition: all 0.3s;
      overflow: hidden;
      text-align: center;
  
      &-item{
        height: 100%;
  
        &-photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
    }
    &__right {
  
      width: 50%;
      overflow: hidden;
      backface-visibility: hidden;
      transition: all 0.3s;
      text-align: center;
      position: relative;
  
      &-item{
        height: 100%;
        &-photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          //object-position: left;
  
        }
      }
    }
  }